.header{
    display: flex;
    width: 100%;
    height:8vh;
    background-color: black;
    color: white;

    .header-left{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 3vw;
        span{
            font-size: 26px;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }

    .header-right{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 2vw;

        a{
            text-decoration: none;
            margin-left: 7vw;
            color: white;
            font-size: 17px;
        }
        
    }
}